html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper-container {
  width: 100%;
  height: 80%;
}

.swiper-slide {
  max-height:600px;
  min-height:400px;
  &::before {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  img {
    transform: scale(1);
    position: relative;
  }
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .text {
    position: absolute;
    text-align: left;
    padding: 10%;
    color: #ffff;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    .title {
      font-size: $ftitle;
      padding-top: 25px;
    }
    .caption{
      font-size: 43.7px;
      padding-top: $fcaption;
    }
    .description {
      font-size: $fdescription;
    }
  }
}

.swiper-slide-active {
  img {
    transform: scale(1.2);
    transition: 3s;
    animation: screen 3s linear;
  }
  ol {
    animation: shadow 1s linear;
  }
}

.swiper-slide-active:first-child {
  img {
    animation: minzoom 3s linear;
  }
}

.swiper-pagination-bullet {
  opacity: 1;
  background-color: #ffffff;
}
.swiper-pagination-bullet-active {
  background: rgb(155, 24, 24);
}

@keyframes screen {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes minzoom {
  0% {
    transform: scale(1.1);
    opacity: 0.5;
  }
  100% {
    transform: scale(1.05);
    opacity: 1;
  }
}

@keyframes animate {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes shadow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@include media-breakpoint-up(sm) {
  .swiper-container {
    height: 80%;
  }

  .swiper-slide {
    .text {
      min-width: 400px;
    }
  }
  .swiper-pagination {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .swiper-pagination-bullet {
    opacity: 1;
    outline: none;
    position: relative;
    width: 200px;
    height: 3px;
    background: #ffffff;
    margin: 50px;
    bottom: 40px;
    box-shadow: none;
  }
  .swiper-pagination-bullet-active::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 3px;
    background: #f00;
    animation: animate 3s linear;
  }
}